## This is a template env file. 
## Name this after your DOCKER_CONTAINER_PREFIX (see below) with "_env" postfix.
## Going with the example below, this should be 'example_env'.
##
PROJECT_NAME=ExampleProject
DOCKER_CONTAINER_PREFIX=example
