## This is a template env file. 
## Name this after your DOCKER_CONTAINER_PREFIX (see below) with "_env" postfix.
## Going with the example below, this should be 'example_env'.
##
PROJECT_NAME=ExampleProject
DOCKER_CONTAINER_PREFIX=example

## RELATIVE_DOCKERCOMPOSE_DIR - Defined when your actual docker-compose.yml is beneath another
##     directory from expected location.
##
##     You DO NOT define if your docker-compose.yml for "cooltool" (your project) is as follows:
##
##        |\- docksite
##        |
##        \- cooltool
##              \--> docker-compose.yml
##
##     BUT if it's like below, there's a need to define.
##     This means, that relative to "cooltool" directory, a subdirectory "website" is the location
##     of docker-compose.yml
##
##        |\- docksite
##        |
##        \- cooltool
##             |\--> other_systems
##             |\--> website
##                 \--> docker-compose.yml
##
#~RELATIVE_DOCKERCOMPOSE_DIR=website

## AUTOSTART_PROJECT - gives control to developers if project is startable without manual intervention.
##      It is OFF by default. Enable it by making its value 1
AUTOSTART_PROJECT=0
